#productCard{
	border: 1px solid black;
	display:flex;
	flex-direction: column;
	justify-content:space-between;
	width: 326px;
	height: 386px;
	left: 0px;
	top: 0px;
	margin: 1%;
	padding:1%;
}

img{
	max-height: 75%;
	max-width: 100%;
}