body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

/*---------------------------------------------
*/
#productLabel >*{
	padding:2%;
}

img{
	max-height: 75%;
	max-width: 100%;
}
/*---------------------------------------------*/